@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    background-size: cover;
    background-position: center;
}
body.presentation {
    font-family: 'Merriweather', serif;
}
.presentation-curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2f3640;
    background-image: url(./img/camuflaje.webp);
    top: 0;
    z-index: 1;
    transition: 1s;
    display: grid;
    grid-template-rows: 1fr 50px;
    transition-property: top, background-color;
    background-blend-mode: multiply;
    background-size: contain;
}
.presentation-curtain .content-init {
    grid-area: 1;
    display: grid;
    flex-direction: column;
    grid-template-rows: max-content max-content;
    align-content: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    grid-gap: 30px;
}
.presentation-curtain .title h1 {
    font-weight: 600;
}
.progress-bar {
    width: 300px;
    height: 6px;
    border-radius: 8px;
    background-color: #dcdde1;
    overflow: hidden;
}
.progress-bar .indicator {
    width: 0%;
    height: 6px;
    border-radius: 8px;
    background-color: #7f8fa6;
    transition: width 3s linear;
}
.presentation-curtain .fotter-header {
    grid-area: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    opacity: 0;
    padding: 0 50px;
    transition: .5s;
}
.presentation-curtain .fotter-header .title h1 {
    font-size: 15px;
    font-weight: 500;
}
.presentation-curtain .fotter-header .title h4 {
    font-size: 12px;
}
.presentation-curtain .fotter-header .title h1, .presentation-curtain .fotter-header .title h4 {
    display: inline-block;
}
.presentation-content {
    /* height: 100vh;
    position: relative;
    top: 50px; */
    padding: 80px 50px .1px;
    background-color: #2f3640;
}
.presentation-sections {
    width: 100%;
    margin-bottom: 30px;
    background-color: #dcdde1;
    opacity: 0;
    transition: opacity .5s linear, background-image 1.5s linear;
    padding: 15px;
    background-blend-mode: soft-light;
}
.presentation-sections .content {
    width: 100%;
    height: 100%;
    border: 4px solid #353b48;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-sections .content .title {
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.presentation-content .content .lists-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.presentation-content .content .list {
    max-width: 300px;
    margin-left: 50px;
    height: fit-content;
    border-bottom: 4px solid #353b48;
    padding-bottom: 10px;
    color: #000;
    margin-bottom: 11px;
}
.presentation-content .content .list li .list {
    border: none;
    padding: 0;
    margin-bottom: 0;
}
li {
    text-indent: 10px;
}
li::marker {
    content: '-';
    font-weight: 600;
}
p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}
h4.subtitle {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}
.presentation-content .content .imagentext-container {
    display: flex;
    width: 100%;
    padding: 0 20px 20px 20px;
}
.presentation-content .content img {
    max-width: 500px;
    border: 5px solid #f5f6fa;
}
.presentation-sections#consecuencias-generales {
    background-image: url(./img/general.webp);
}
.presentation-sections#otras-consecuencias {
    background-image: url(./img/otras.webp);
}
.presentation-sections#genocidio-judio {
    background-image: url(./img/genocidio.webp);
}
.presentation-sections#bombas-atomicas {
    background-image: url(./img/bomba.jpg);
}
.presentation-sections#cambio-del-mapa-de-europa {
    background-image: url(./img/europa-map.webp);
}
.presentation-content #otras-consecuencias .content .list {
    max-width: 500px;
}
.presentation-content .content .imagentext-container .list {
    max-width: 500px;
    margin-left: 35px;
}
.imagentext-container .lists-container {
    padding-top: 20px;
}
.imagentext-container.column {
    flex-direction: column;
}
.imagentext-container .space {
    display: inherit;
    justify-content: space-evenly;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #7f8fa6;
}

.presentation-curtain .fotter-header .actions {
    display: flex;
    justify-content: flex-end;
}
.presentation-curtain .fotter-header .actions .alternate-button {
    border: none;
    background-color: #f5f6fa;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
    color: #000;
}
.presentation-curtain .fotter-header .actions .alternate-button:hover {
    background-color: #dcdde1;
}
.presentation-curtain .fotter-header .actions .alternate-button .indicator {
    width: 20px;
    height: 20px;
    background-color: #2f3640;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid #000;
}
.presentation-curtain .fotter-header .actions .alternate-button.active .indicator {
    background-color: #44bd32;
}