
h2 {
    margin: 48px 0 24px;
}

/*---section---*/
main {
    grid-template-columns: 230px minmax(200px,936px) minmax(200px,1fr);
}
.docsite-sidebar {
    grid-column: 3;
    grid-row: 1;
    min-width: 0;
    width: auto;
    padding: 24px;
    background: var(--fx-pry-bg);
}
.docsite-sidebar.open {
    transform: none;
}

/*---aside---*/
main .dropdown-aside {
    display: none;
    position: fixed;
    left: 0;
    top: var(--fx-bar-height);
    width: 100%;
    bottom: -24px;
    height: 24px;
    border-bottom: 1px solid var(--fx-det-bg);
    z-index: 1;
}
.sidebar-content {
    position: fixed;
}
.docsite-nav-list {
    padding-left: 12px;
    padding-right: 8px;
    border-left: 4px solid var(--fx-accent-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.docsite-nav-title {
    font-weight: 700;
    color: var(--fx-det-color);
}
.docsite-nav-text {
    font-size: 13px;
    padding: 4px 0;
}
.docsite-nav-item.act {
    color: var(--fx-accent-color);
}
.docsite-nav-link {
    display: flex;
    align-items: center;
    padding: 4 0;
    color: inherit;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.docsite-nav-link:hover {
    color: var(--fx-accent-color);
}
.docsite-nav-link.active {
    color: var(--docsite-nav-active-color);
}

/*---page-content---*/
.docsite-article {
    max-width: 936px;
    min-width: 0;
}

/*---page-banner---*/
.docsite-banner {
    position: relative;
    height: var(--fx-banner-height);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.docsite-banner .info {
    margin: calc(var(--fx-banner-height) - 100px + 55px) var(--fx-banner-info-lateral-margin) 0;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr max-content;
    grid-template-areas: 'icon name date';
    color: #fff;
}
.docsite-banner .info .icon {
    width: 30px;
    filter: brightness(100);
    grid-area: icon;
}
/* .docsite-banner svg {
    width: 30px;
    height: 30px;
    /* margin-right: 3px;
    filter: brightness(100);
    grid-area: icon;
} */
.docsite-banner h1 {
    grid-area: name;
}
.docsite-banner .date {
    grid-area: date;
}
/* .docsite-banner .date-info h1 {
    position: absolute;
    margin-top: calc(var(--fx-banner-height) - 100px + 60px);
    margin-left: 30px;
} */
.docsite-banner .img {
    /* opacity: 0; */
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-position: top;
    object-fit: cover;
    z-index: -1;
}

/*---article---*/
.article {
    padding: 40px;
}
/* index-mark {
    position: relative;
} */
.article h1 {
    display: inline-block;
}
.article li {
    display: flex;
    margin: 16px;
}
.article li p {
    margin: 0;
}
.article a::after {
    content: "";
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background-color: #fff;
    -webkit-mask: url(../resources/open-outline.svg);
    mask: url(../resources/open-outline.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
}
.article .icon:hover {
    transform: scale(1.6);
}
#append-langs {
    display: flex;
}

/* @media screen and (max-width: 1010px) {
    main {
        display: grid;
        grid-template-columns: 0 minmax(200px, 936px) minmax(200px, 1fr);
    }
} */
@media screen and (max-width: 1010px) {
    main {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
    .docsite-sidebar {
        position: fixed;
        top: calc(var(--fx-bar-height) + 24px);
        width: 100%;
        transform: translateY(-100%);
    }
    .sidebar-content {
        position: static;
    }
    main .dropdown-aside {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .docsite-article {
        width: 100%;
        margin-top: 24px;
    }
}
@media screen and (max-width: 768px) {
    .docsite-main-content {
        display: block;
        padding: 0 3%;
    }
    .article {
        padding: 20px;
    }
    :root {
        --fx-banner-height: 250px;
        --fx-banner-info-lateral-margin: 10px;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --fx-banner-height: 150px;
    }
}
@media screen and (max-width: 425px) {
    :root {
        --fx-h1-size: 15px;
    }
}