* {
    margin: 0;
    padding: 0;
    color-scheme: var(--sl-color-scheme);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --sl-color-scheme: light;
    --sl-font-family: system-ui;
    --sl-searchbox-height: 44px;
    --fx-accent-color: #ff6d00;
    --fx-bar-height: 50px;
    --fx-banner-height: 300px;
    --docsite-link-color: #1a73e8;
    --docsite-nav-active-color: #185abc;
    --sl-accent-color: #0984E3;
    --fx-color-txt: #111;
    --fx-inv-color-txt: #eee;
}
[data-theme="dark"] {
    --sl-color-scheme: dark;
    --fx-bg-page: #333;
    --fx-sec-bg: #222;
    --fx-sec-bg-tr: #222e;
    --fx-color-txt: #eee;
    --fx-inv-color-txt: #111;
    --sl-transparent-color-text: #eee9;
    --sl-transparent-background-elements: #2f354299;
    --sl-opaque-background-elements: #2f3542;
}
:link, :visited {
    color: #1a73e8;
}

/*---media-screen---*/
/* @media screen and (max-width: 1253px) {

}
@media screen and (max-width: 1141px) {

} */
@media screen and (max-width: 768px) {
    :root {
        --fx-banner-height: 200px;
    }
}