body {
    background: var(--fx-bg-page);
    font-family: var(--sl-font-family);
}

/*---header---*/
header {
    display: grid;
    grid-template-columns: 60px 100px;
    grid-template-areas: 'menu-button main';
    width: 100%;
    height: var(--fx-bar-height);
    position: fixed;
    top: 0;
    z-index: 1;
    background: var(--fx-sec-bg-tr);
}
header::before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background: var(--fx-accent-color);
}
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 50px;
    cursor: pointer;
    grid-area: menu-button;
}
.menu-button ion-icon {
    font-size: 1.7em;
    border-radius: 5px;
    transition: background-color .3s;
    transition-timing-function: ease-out;
}
ion-icon.click {
    background-color: #fff3;
}
.main-logo {
    display: flex;
    align-items: center;
    grid-area: main;
}
header h1 {
    font-size: 18px;
    font-weight: 400;
    color: var(--fx-color-txt);
}

/*---section---*/
.section {
    margin-top: var(--fx-bar-height);
    margin-left: 65px;
    display: flex;
    flex-direction: column;
}

/*---navigation---*/
.navigation {
    position: fixed;
    left: 5px;
    top: var(--fx-bar-height);
    height: calc(100% - var(--fx-bar-height));
    width: 60px;
    /* background: #2f3542; */
    background: var(--fx-sec-bg-tr);
    box-shadow: -5px 0 0 var(--fx-accent-color);
    /* border-right: 10px solid transparent; */
    overflow-x: hidden;
    /* border-top-right-radius: 20px; */
    border-bottom-right-radius: 20px;
    transition: 0.5s;
    transition-property: width, transform;
}
.navigation:hover {
    width: 250px;
}
.navigation.open {
    width: 250px;
    transform: translateX(0);
}
.navigation ul:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 5px;
    padding-top: 30px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navigation ul li.active {
    background: var(--fx-accent-color);
}
.navigation ul li.active::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px -15px 0 var(--fx-accent-color);
}
.navigation ul li.active::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 15px 0 var(--fx-accent-color);
}
.navigation ul li.active > a {
    color: var(--fx-inv-color-txt);
}
.navigation ul li .flex {
    display: flex;
}
.navigation ul li.active .flex.active > a {
    color: var(--fx-inv-color-txt);
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-areas: "main-icon title";
    text-decoration: none;
    color: var(--fx-color-txt);
}
.navigation ul li a:hover {
    color: var(--fx-accent-color);
}
.navigation ul li.active a:hover {
    color: var(--fx-inv-color-txt);
}
.navigation ul li .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main-icon;
}
.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}
.navigation ul li a .icon ion-icon:nth-child(2) {
    position: fixed;
    font-size: .9em;
    margin-top: 5px;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    grid-area: title;
}
.navigation ul li .icon.drop-submenu {
    display: block;
    cursor: pointer;
    transition: .5s;
    transition-property: transform;
    /* margin-left: 80px; */
}
.navigation ul li .icon.drop-submenu:hover {
    color: var(--fx-accent-color);
}
.navigation ul li.active .icon.drop-submenu:hover {
    color: var(--fx-inv-color-txt);
}
.navigation ul li.open .icon.drop-submenu {
    transform: rotate(180deg);
}
.navigation ul li .icon.drop-submenu ion-icon {
    font-size: 1.3em;
}
.navigation ul li ul.submenu {
    margin-left: 10px;
    height: 0px;
    overflow: hidden;
    transition: .5s;
    transition-property: height;
}
.navigation ul li.open ul.submenu {
    height: 50px;
}
.navigation ul li.sub a.active {
    color: var(--fx-inv-color-txt);
}
.navigation ul li.sub a.active:hover {
    color: var(--fx-color-txt);
}
.navigation ul li.sub a .title {
    padding: 0;
}


/*---media-screen---*/
@media screen and (max-width: 1253px) {
    .section {
        margin-left: 65px;
    }
    .page-content {
        margin: 14px;
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .section {
        margin-left: 0;
    }
    .navigation {
        transform: translateX(-65px);
    }
}