body {
    background: var(--fx-pry-bg);
    font-family: var(--sl-font-family);
}

/*---texts---*/
h1 {
    font-size: var(--fx-h1-size);
    font-weight: 500;
}
h2 {
    font: 400 var(--fx-h2-size)/32px var(--sl-font-family);
}
h2:first-child {
    margin: 8px 0 24px;
}
h3 {
    font-size: 16px;
    font-weight: 400;
}
p {
    font-size: var(--fx-p-size);
    margin: 16px 0;
}
ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}

button {
    background: var(--fx-pry-bg);
    border: none;
    cursor: pointer;
}
button:hover {
    background: var(--fx-sec-bg);
}
ion-icon {
    width: 24px;
    height: 24px;
}
.over-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--fx-det-bg);
    z-index: -1;
}

/*---header---*/
header {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 'home';
    align-items: center;
    width: 100%;
    height: var(--fx-bar-height);
    position: fixed;
    top: 0;
    background: var(--fx-pry-bg);
    border-bottom: 1px solid var(--fx-det-bg);
    /* overflow: hidden; */
    z-index: 3;
}
.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    padding-left: 10px;
    color: var(--fx-color);
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    grid-area: home;
}
.menu-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    grid-area: menu-btn;
}
header h1 {
    font-size: 18px;
    font-weight: 400;
    color: var(--fx-color);
}
form.search {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
form.search input {
    height: 40px;
    width: 200px;
    padding: 0 10px;
    border: 0;
    border-bottom: 2px solid var(--fx-det-bg);
    background: var(--fx-sec-bg);
    transition-property: width;
    outline: none;
}
form.search input::placeholder {
    color: var(--fx-det-bg);
    text-align: center;
}
form.search input:focus {
    width: 500px;
    border-bottom: 2px solid var(--fx-accent-color);
}
#search-results {
    display: none;
    position: absolute;
    top: var(--fx-bar-height);
    width: 500px;
    min-height: 40px;
    background: var(--fx-sec-bg);
    /* border-bottom: 1px solid var(--fx-det-bg); */
    z-index: -3;
}
#search-results .over-text {
    position: absolute;
}
#search-results a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    color: var(--fx-color);
    text-decoration: none;
    font-size: 15px;
    background: var(--fx-sec-bg);
    z-index: -2;
}
#search-results a:hover {
    background: var(--fx-pry-bg);
}
#search-results a.act {
    background: var(--fx-accent-color);
}
#search-results a h3 {
    margin-top: 1px;
    color: var(--fx-det-color);
    font-size: 13px;
}

main {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-gap: 20px;
    height: calc(100vh - var(--fx-bar-height));
    margin-top: var(--fx-bar-height);
}

.content {
    grid-column: 2;
}

/*---navigation---*/
.navigation {
    position: fixed;
    width: 230px;
    height: inherit;
    background: var(--fx-pry-bg);
    border-right: 1px solid var(--fx-det-bg);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    transition-duration: .3s;
}
.navigation.open {
    transform: none;
}
.navigation ul:first-child {
    padding: 24px 0;
}
.navigation ul li .flex {
    display: flex;
    align-items: center;
}
.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    color: var(--fx-color);
}
.navigation ul li a:hover {
    color: var(--fx-det-color);
}
.navigation ul li a.act {
    background: var(--fx-sec-bg);
}
.navigation ul li a.act::before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background: var(--fx-accent-color);
}
.navigation ul li a:focus-visible {
    outline: none;
}
.navigation ul li a:focus-visible::before {
    background: var(--fx-color);
}
.navigation ul li .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navigation ul li .icon.drop-submenu {
    position: absolute;
    right: 0;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
}
.navigation ul li .icon.drop-submenu:hover {
    color: var(--fx-det-color);
}
.navigation ul li.open .icon.drop-submenu {
    transform: rotate(180deg);
}
.navigation ul li .icon.drop-submenu ion-icon {
    font-size: 1.3em;
}
.navigation ul li ul.submenu {
    margin-left: 5px;
    height: 0px;
    overflow: hidden;
    transition-duration: .5s;
}


/*---media-screen---*/
/* @media screen and (max-width: 1253px) {

} */
@media screen and (max-width: 1010px) {
    header {
        grid-template-columns: 50px max-content 1fr;
        grid-template-areas: 'menu-btn home';
    }
    .menu-btn {
        display: flex;
    }
    form.search {
        justify-content: flex-end;
    }
    main {
        display: flex;
        justify-content: center;
    }
    .navigation {
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        height: fit-content;
        max-height: 300px;
        border-right: 0;
        border-bottom: 1px solid var(--fx-det-bg);
    }
}

.flex-articles-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    padding: 24px 0;
}

.articles-card {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background: var(--fx-sec-bg);
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    z-index: 1;
}
.articles-card .banner {
    position: absolute;
    width: 100%;
    height: 225px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}
.articles-card .info {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr max-content;
    grid-template-areas: 'icon name date';
    margin: 0 5px;
    margin: 185px 10px 20px;
    width: 380px;
}
.articles-card .info .icon {
    width: 30px;
    filter: brightness(100);
    grid-area: icon;
}
.articles-card .docsite-page-title {
    grid-area: name;
    font-size: var(--fx-h1-size);
    font-weight: 500;
}
.articles-card .date {
    grid-area: date;
    font-size: 14px;
}

.articles-card .docsite-page-desc {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 10px 0;
}

.token.property {
    color: var(--code-token-attribute-name);
}
.token.keyword {
    color: var(--code-token-tag);
}
.token.punctuation {
    color: var(--code-token-punctuation);
}
.token.string {
    color: var(--code-token-attribute-value);
}

.icon {
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon.html {
    background-image: url(../resources/html.svg);
}
.icon.css {
    background-image: url(../resources/css.svg);
}
.icon.js {
    background-image: url(../resources/js.svg);
}